html > body > div#logo {
  margin-top: -17%;
}

html > body > div.videos {
  margin: 5%;
  margin-top: -30%;
}

html > body > div#videos{
  margin-top: -20%;
}

 video.video{
  height: 25vh;
}

p.video-title {
  font-size: 25%;
}
